Database/Database/CCF.media_database.csv
.venv/
.vscode/
Archives/
Database/Database/CCF.media_database.csv
Database/Database/CCF.media_processed_texts.csv
Database/Database/CCF.media_processed_texts_annotated.csv
Database/Raw_data
Database/Training_data/manual_annotations_JSONL/Archives
models/
Scripts/Annotation/Archives
Scripts/Database_creation/Archives
.DS_Store
Scripts/Results/
Database/Training_data/manual_annotations_JSONL/
Database/Training_data/annotation_bases/
Scripts/Database_creation/Agregate/
Database/Database/CAN_shp
Database/Database/dominant_frame_by_province.png
Scripts/.DS_Store
Database/.DS_Store
Database/Database/.DS_Store
Database/Raw_data/.DS_Store
Database/Training_data/.DS_Store
models/.DS_Store
Sripts/Annotation/.DS_Store
Scripts/Database_creation/.DS_Store
Scripts/Results/.DS_Store
Scripts/Annotation/llm_annotation_tool.py
Scripts/Annotation/second_phase
Scripts/Database_creation/3bis_clean_database.py
Prompt
Database/Database/archives
Database/Database/articles_per_media.png
Database/Database/articles_per_region.png
Database/Training_data/sentences_annotation_error.csv
Scripts/Annotation/llm_annotation_tool_EN.py
Scripts/Annotation/llm_annotation_tool_FR.py

# Ne pas ignorer les fichiers spécifiques 3_*.py et 4_*.py
!1_Database_creation.py
!2_Clean_and_create_database.py

